<section id="news-feed-nav">
  <div class="welcome-box">
    <div class="user-avatar">
      <div class="user-avatar-inner">
        <img width="40" height="40" src="/assets/user-chuck.jpg" />
      </div>
    </div>
    <div class="user-name">Chuck Norris</div>
  </div>
</section>

<section id="edit-profile">
  <div class="box">
    <header class="box-header">
      <h1>Editar Perfil</h1>
    </header>
    <div class="box-content">
      
      <form action="" method="get">
        <div class="form-row">
          <div class="form-label">
            <label class="right inline">Avatar:</label>
          </div>
          <div class="form-field">
            <div class="file upload">
              <div class="fileupload thumbnail" style="width: 40px; height: 40px; float: left; border: 1px solid #ccc;"><img width="40" height="40" src="/assets/user-avatar.png" /></div>
              <input style="float: left; margin: 10px 0 23px 5px;" type="file">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-label">
            <label class="right inline">Nome:</label>
          </div>
          <div class="form-field">
            <input id="field-ultimo-nome" type="text">
          </div>
        </div>
        <div class="form-row">
          <div class="form-label">
            <label class="right inline">Email:</label>
          </div>
          <div class="form-field">
            <input id="field-email-signup" type="text">
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">
            <label class="right inline">Nova senha:</label>
          </div>
          <div class="form-field">
            <input id="field-password-signup" type="password">
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">
            <label class="right inline">Confirme a senha:</label>
          </div>
          <div class="form-field">
            <input id="field-password-signup" type="password">
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">
            <label class="right inline">Senha atual:</label>
          </div>
          <div class="form-field">
            <input id="field-password-signup" type="password">
          </div>
        </div>

        <div class="form-row">
          <div class="form-label"></div>
          <div class="form-field">
            <button class="small button" tabindex="14" type="Submit">Criar Conta</button>
          </div>
        </div>
        <br>
      </form>

    </div>
  </div>
</section>