<section id="forgot-password">
  <div class="panel">
    <h1>Esqueceu sua senha?</h1>
    <form action="" method="get">
      <p>Para resetar sua senha, por favor informe o seu endereço de email abaixo:</p>
      <div class="form-row">
        <div class="form-label">
          <label for="field-email-signup">Email:</label>
        </div>
        <div class="form-field">
          <input id="field-email-signup" tabindex="1" type="text">
        </div>
      </div>
      <div class="form-row">
        <div class="form-label"></div>
        <div class="form-field">
          <button class="small button" tabindex="2" type="Submit">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</section>