<ul>
  <li><a href="/frontend/login">Home</a></li>
  <li><a href="/frontend/all-posts">All Posts</a></li>
  <li><a href="/frontend/new-post">New Post</a></li>
  <li><a href="/frontend/show-post">Show Post</a></li>
  <li><a href="/frontend/forgot-password">Forgot password</a></li>
  <li><a href="/frontend/edit-user">Edit user</a></li>
</ul>