<section id="news-feed-nav">
  <div class="welcome-box">
      <div class="user-avatar">
        <div class="user-avatar-inner">
          <img width="40" height="40" src="/assets/user-chuck.jpg" />
        </div>
      </div>
      <div class="user-name">Chuck Norris</div>
  </div>
</section>

<section id="update-status">
  <div class="box">
    <header class="box-header">
      <h1>Atualizar Status</h1>
    </header>
    <div class="box-content">
      <div class="comment-form">
        <form>
          <div class="item-image usuario">
            <span class="item-image-wrap"><img width="50" height="50" src="/assets/user-chuck.jpg" /></span>
          </div>
          <div class="comment-textarea">
            <textarea placeholder="Adicione um comentário..."></textarea>
          </div>
          <div class="form-actions">
            <div class="left">
              <input type="file">
            </div>
            <div class="right">
              <button class="button tiny">Postar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>