<section id="news-feed-nav">
  <div class="welcome-box">
    <div class="user-avatar">
      <div class="user-avatar-inner">
        <img width="40" height="40" src="/assets/user-chuck.jpg" />
      </div>
    </div>
    <div class="user-name">Chuck Norris</div>
  </div>
</section>

<section id="post-details">
  <div class="box">
    <header class="box-header">
      <h1>Detalhes Post</h1>
    </header>
    <!--begin .post-details-->
    <div class="post-details">
      <div class="list-view ui-comments-list">
        <ul>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="40" height="40" src="/assets/user-chuck.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  <a href="/profile">Chuck Norris</a>
                </div>
                <div class="user-comment">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
                <div class="item-actions">
                  <span class="timestamp first">1 hora atrás</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="post-actions-row">
      <div class="post-actions">
        <span class="action-like">
          <a href="#">Curtir</a>
        </span>
        <span class="action-comment">
          <a href="#">Comentar</a>
        </span>
      </div>
      <div class="post-like-counter">
        <span class="count-likes">Renato Carvalho, Julio Protzek e Flavio Ludgero curtiram isso.</span>
      </div>
    </div>

    <div class="post-comments">
      <div class="list-view ui-comments-list">
        <ul>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="35" height="35" src="/assets/user-mclovin.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  Mc Lovin
                </div>
                <div class="user-comment">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
                <div class="item-actions">
                  <span class="timestamp first">30 minutos atrás</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="35" height="35" src="/assets/user-rafael.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  Rafael Torales
                </div>
                <div class="user-comment">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
                <div class="item-actions">
                  <span class="timestamp first">30 minutos atrás</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="35" height="35" src="/assets/user-mclovin.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  Mc Lovin
                </div>
                <div class="user-comment">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
                <div class="item-actions">
                  <span class="timestamp first">30 minutos atrás</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="35" height="35" src="/assets/user-rafael.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  Rafael Torales
                </div>
                <div class="user-comment">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
                <div class="item-actions">
                  <span class="timestamp first">30 minutos atrás</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="35" height="35" src="/assets/user-rafael.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  Rafael Torales
                </div>
                <div class="user-comment">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
                <div class="item-actions">
                  <span class="timestamp first">30 minutos atrás</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--end .post-comments--><!--begin .comment-form-->
    <div class="comment-form">
      <form>
        <div class="item-image usuario">
          <span class="item-image-wrap"><img width="35" height="35" src="/assets/user-chuck.jpg" /></span>
        </div>
        <textarea class="comment-textarea" placeholder="Deixe seu comentário..."></textarea>
        <div class="form-actions">
          <button class="button primary small disable">Postar</button>
        </div>
      </form>
    </div>
    <!--end .comment-form-->
  </div>
  <!--end .box-->
</section>
