<section id="news-feed-nav">
  <div class="welcome-box">
      <div class="user-avatar">
        <div class="user-avatar-inner">
          <img width="40" height="40" src="/assets/user-chuck.jpg" />
        </div>
      </div>
      <div class="user-name">Chuck Norris</div>
  </div>
</section>

<section id="update-status">
  <div class="box">
    <header class="box-header">
      <h1>Atualizar Status</h1>
    </header>
    <div class="box-content">
      <div class="comment-form">

      	<%= render 'form' %>

      </div>
    </div>
  </div>
</section>